.h h1 {
  color: rgb(29, 52, 68);
  font-family: Poppins;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -3%;
  text-align: left;
  max-width: 618px;
}
.h p {
  color: rgb(91, 91, 91);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 510px;
  margin-top: 24px;
}
.h button {
  border-radius: 27px;
  background: rgb(245, 138, 7);
  border-style: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 106.5%;
  letter-spacing: 0px;
  text-align: left;
  text-transform: capitalize;
  padding: 18px 32px;
  margin-top: 32px;
}
.h {
  display: flex;
  align-items: center;
  gap: 46px;
  justify-content: center;
  margin-top: 92px;
  margin-bottom: 108px;
}
