.b h1 {
  color: rgb(29, 52, 68);
  font-family: Poppins;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -3%;
  text-align: left;
  max-width: 576px;
}
.b p {
  color: rgb(91, 91, 91);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 571px;
  margin-top: 12px;
}
.b1 {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 32px;
}
.b1 button {
  border-radius: 27px;
  background: rgb(245, 138, 7);
  padding: 18px 32px;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 106.5%;
  letter-spacing: 0px;
  text-align: left;
  text-transform: capitalize;
  cursor: pointer;
  border-style: none;
}
.b1 span {
  color: rgb(29, 52, 68);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 106.5%;
  letter-spacing: 0px;
  text-align: left;
  text-transform: capitalize;
}
.b h2 {
  color: rgba(57, 65, 73, 0.5);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 56px;
}
.b2 {
  display: flex;
  align-items: center;
  gap: 45px;
  margin-top: 18px;
}
.b {
  display: flex;
  align-items: center;
  justify-content: center;
}
.b3 {
  width: 700px;
}
.homehero {
  background: rgb(220, 234, 245);
  margin-top: 84px;
  padding-top: 100px;
}
